.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url('../../backgroundPic/background_movies.jpg');
  font-size: 30px;
  font-family: "Lucida Console", sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.eachMovie {
  align-items: center;
}

body {
  background-color: #e6ffff
}
